extends ../layout

block content
 .page-header.col-sm-8.col-sm-offset-2
    h3 Signup
    hr
    form.form-horizontal(id='signup-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      a.btn.btn-block.btn-github.btn-social(href='/auth/github')
        i.fa.fa-github
        | Sign up with GitHub
      a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
        i.fa.fa-facebook
        | Sign up with Facebook
      //- a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
      //-   i.fa.fa-twitter
      //-   | Sign in with Twitter
      //- a.btn.btn-block.btn-google-plus.btn-social(href='/auth/google')
      //-   i.fa.fa-google-plus
      //-   | Sign in with Google
      //- a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
      //-   i.fa.fa-linkedin
      //-   | Sign in with LinkedIn
      //- a.btn.btn-block.btn-instagram.btn-social(href='/auth/instagram')
      //-   i.fa.fa-instagram
      //-   | Sign in with Instagram
      hr
      //- .form-group
      //-   label.col-sm-3.control-label(for='email') Email
      //-   .col-sm-7
      //-     input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)
      //- .form-group
      //-   label.col-sm-3.control-label(for='password') Password
      //-   .col-sm-7
      //-     input.form-control(type='password', name='password', id='password', placeholder='Password')
      //- .form-group
      //-   label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      //-   .col-sm-7
      //-     input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
      //- .form-group
      //-   .col-sm-offset-3.col-sm-7
      //-     button.btn.btn-success(type='submit')
      //-       span.ion-person-add  Signup

