.navbar.navbar-default.navbar-fixed-top
  .content
    .navbar-header
      a.navbar-brand(href='/')
        span
          | Http League
    .collapse.navbar-collapse.right
      //- ul.nav.navbar-nav
      //-   li(class=title=='Home'?'active':undefined)
      //-     a(href='/') Home
      //-   li(class=title=='API Examples'?'active':undefined)
      //-     a(href='/api') API Examples
      //-   li(class=title=='Contact'?'active':undefined)
      //-     a(href='/contact') Contact
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=title=='Login'?'active':undefined)
            a(href='/login') Login
          li(class=title=='Signup'?'active':undefined)
            a(href='/signup') Signup
        else
          li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account')
                  span.ion-person
                  | My Account
              li.divider
              li
                a(href='/logout')
                  span.ion-log-out
                  |  Logout
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    input(class="search-nav" type='search' ng-model='search' placeholder='search' )
