.navbar{
	// introduces search bar in nav
	.search-nav{
		float: right;
		margin: 12px 0 0;
	}

	// makes navbar button smaller and correct margins
	.navbar-toggle {
		margin: 8px;
	}

	// keeps logo over to left and makes room for search and button on mobile
	.navbar-header{
		float: left;
	}

	.right{
		float: right;
	}
}
