	
.app-page {
	body{
		padding: 0; //removes top padding that made page start after header
	}
	//	------------------------------------
	//	#GENERAL
	//	------------------------------------
	$grid-margin: 3.33%;
	$item-height: 376px;
	$inner-grid: 762px;

	.banner {
		position: relative;
		overflow: hidden;
		padding: 40px 0 30px;

		.words{
			text-align: center;
			p{
				max-width: 400px;
				margin: 0 auto;
			}
		}

		img {
			width: 100%;
			max-width: 300px;
		}
	}

	p { 
		font-size: 14px; 
	}
	
	//	------------------------------------
	//	#PEOPLE GRID
	//	------------------------------------
	.users {
		padding: 0 0 20px;  // offsets padding on section that comes automatically with janeMobileFirst
		overflow: auto;
		.content {
			padding: $grid-margin;
		}
	}

	
	.item {
		width: 100%;
		height: $item-height;
		margin: 0 0 $grid-margin 0;
		float: left;
		background-color: #FFF;
		position: relative;
		overflow: hidden;
		&:last-child { margin: 0 20px 0 0; }
		.person {
			height: $item-height;
			position: relative;
			text-align: center;
			.rank-space{
				position: absolute;
				left: 0;
				right: 0;
				font-size: 13px;
				line-height: 20px;
				top: 18px;
				margin-left: auto;
				margin-right: auto;
				color: $jMintDarker;
				z-index: 0;
				background-color: $grayLighter;
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}
			.score-space{
				border-radius: 6px;
				color: $jPink;
				background-color: $grayLighter;
				position: absolute;
				top: 190px;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				padding-bottom: 3px; //offsets weird line height problem
				max-width: 70px;
				z-index: 1;
			}
			.name{
				cursor: pointer;
				margin-bottom: 0;
				&:hover{
					color: $jMint;
				}
			}

			img {
				position: relative;
				margin: 40px 0 20px 0;
				border-radius: 30px;
				width: 175px;
				border: 4px solid white;
				cursor: pointer;
				box-shadow: 0px 0px 0pt 4pt $grayLighter;
			}

			p {
				font-size: 26px;
				color: $gray;
				
			}

			.meta {
				font-size: 12px;
				font-style: italic;
				color: $grayLight;
			}

			
		}
		.record-score {
			color: white;
			height: $item-height;
			padding: 10px;
			cursor: pointer;
			text-align: center;
			background-color: rgba(124, 216, 203, 0.92);
			position: absolute;
			left: 0;
			right: 0;
			bottom: -$item-height + 3 ;
			margin-left: auto;
			margin-right: auto;
			-webkit-transition: 300ms ease;
			transition: 300ms ease;
			z-index: 2;
			p{
				line-height: 20px;
				font-size: 12px;
			}
			.player{
				display: inline-block;
				margin-left: 20px;
				margin-right: 20px;
			}
			img{
				width: 50px;
				display: block; // so they stack vertically
				border-radius: 10px;
				margin-bottom: 5px;
			
			}
			input{
				width: 50px;
				display: block; // so they stack vertically
				text-align: center;
				color: $gray;
				border: none;
				outline: none;
				opacity: .8;
				&:focus{
					opacity: 1;
				}
			}
			.btn{
				opacity: .8;

				&:hover{
					opacity: 1;
					background-color: white;
					color: $jMint;
				}
			}
			
			&:hover{
				background-color: $jMintDarker;
			}
			&.clicked{
				-webkit-transform: translate(0,-$item-height+3) !important; // needed for specificty over other :hover 
	      		-ms-transform: translate(0,-$item-height+3) !important; // IE9+
	         	transform: translate(0,-$item-height+3) !important; 	
				background-color: $jMintDarker;
				padding: 20px;
				cursor: auto;
				.ion-close-round{ display: block; }
			}
		}
		.about {
			background: rgba(248, 213, 123, 0.96);
			position: relative;
			width: 100%;
			height: $item-height;
			padding: 20px;
			z-index: 2;
			overflow: scroll;
			@include transition-duration(300ms);
			@include transition-property(transform);
			@include transition-timing-function(ease);
			.match{
				margin-bottom: 20px;
				h5 {
					font-size: 12px;
					opacity: .4;
					margin:0;
				}
				p {
					font-size: 16px;
					margin-bottom: 0;
					display: inline;
					&:last-child { margin-bottom: 0; }
					&.date{
						font-size: 10px;
						font-style: italic;
						opacity: .4;
					}
				}
				.loser{
					opacity: .3;
				}

			}
		}
		// using for all my close icons
		.ion-close-round{
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			padding: 10px;
			margin-right: 3px;
			opacity: .2;
			cursor: pointer;
		}

		&:hover {
			.record-score { @include translate(0,-40px); }
		}
		&.clicked { 
			.about { @include translate(0,-$item-height); } 
			.ion-close-round { display: block; };
		}
	}
	
	/*------------------------------------*\

		#RESPONSIVE

	\*------------------------------------*/
	@media only screen and (min-width: 300px ) {
	}

	@media only screen and (min-width: 530px ) {
		$grid-margin: 3%;

		.item {
			width: 48.3%;
			margin: 0 $grid-margin $grid-margin 0;

			&:nth-child(2n + 2) {
				margin-right: 0;
			}
		}
	}

	@media only screen and (min-width : 768px ) {

		.banner{
			.words{
				padding-top: 30px;
				text-align: left;
			}
		}
		


	}
	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {
		section {
			padding: 85px 0;
		}

		.blurb {
			padding: 0;
		}

		.banner {
			padding: 50px 0;
			.words{
				text-align: left;
				p{
					margin: 0;
				}
			}
		}

		$grid-margin: 2%;

		.item {
			width: 31.1%;
			margin-right: $grid-margin;

			&:nth-child(2n + 2) {
				margin-right: $grid-margin;
			}

			&:nth-child(3n + 3) {
				margin-right: 0;
			}
		}
	}
	/* Large Devices, Desktops */
	@media only screen and (min-width : 1200px) {
		.people .content {
			padding-top: 44px;
		}

		; //stops top from growing based on width
		.item {
			width: 23.5%;

			&:nth-child(2n + 2) {
				margin-right: $grid-margin;
			}

			&:nth-child(3n + 3) {
				margin-right: $grid-margin;
			}

			&:nth-child(4n + 4) {
				margin-right: 0;
			}
		}
	}
	/* Large Devices, Desktops */
	@media only screen and (min-width : 1367px) {
		.content { //header styling has strange bump out at this width
			padding: 0;
		}
	}
}
	// end of about page
